
<template name="atelierCard">
    <div class="col-md-4 col-sm-6 col-xs-12">
  <article class="material-card {{color index}}">
      <h2>
          <span>{{name}}</span>
          <strong>
              <i class="fa fa-fw fa-star"></i>
              {{title}}
          </strong>
      </h2>
      <div class="mc-content">
          <div class="img-container">
              <div class="img-responsive div-image" style="background: url('{{#if image}}{{image}}{{else}}/img/placeholder.png{{/if}}')  no-repeat center center; background-size: cover;"></div>
          </div>
          <div class="mc-description">
              {{description}}
          </div>
      </div>
      <a class="mc-btn-action">
          <i class="fa fa-bars"></i>
      </a>
      <div class="mc-footer">
          <h4>
              Social
          </h4>
          {{#if github}}
          <a href="{{github}}" class="fa fa-fw fa-github"></a>
          {{/if}}
          {{#if facebook}}
          <a href="{{facebook}}" class="fa fa-fw fa-facebook"></a>
          {{/if}}
          {{#if twitter}}
          <a href="{{twitter}}" class="fa fa-fw fa-twitter"></a>
          {{/if}}
          {{#if linkedin}}
          <a href="{{linkedin}}" class="fa fa-fw fa-linkedin-square"></a>
          {{/if}}
          {{#if codePen}}
          <a href="{{codePen}}" class="fa fa-fw fa-codepen"></a>
          {{/if}}
          {{#if website}}
          <a href="{{website}}" class="fa fa-fw fa-google-plus"></a>
          {{/if}}
      </div>
  </article>
</div>

</template>
