<template name="portfolioSection">
  <div class="vintage-background">
    <div class="row center ">
      {{> title text="Portfolio"}}
    </div>

    <div class="scrollspy" id="portfolio">
      {{>hexagonGrid}}

    </div>
  </div>

</template>

<template name="hexagonGrid">
  <ul id="hexagon-categories" class="hexagon-clr">

    {{>hexagonCell title="title" subtitle="subtitle" image="img/portfolio/1.png"}}
    {{>hexagonCell title="title" subtitle="subtitle" image="img/portfolio/2.png"}}
    {{>hexagonCell title="title" subtitle="subtitle" image="img/portfolio/3.png"}}
    {{>hexagonCell title="title" subtitle="subtitle" image="img/portfolio/4.png"}}

  {{>hexagonSpace}}


{{>hexagonCell title="title" subtitle="subtitle" image="img/portfolio/5.png"}}

  {{>hexagonSpace}}
  {{>hexagonSpace}}


{{>hexagonCell title="title" subtitle="subtitle" image="img/portfolio/6.png"}}
  {{>hexagonSpace}}

{{>hexagonCell title="title" subtitle="subtitle" image="img/portfolio/7.png"}}
    {{>hexagonCell title="title" subtitle="subtitle" image="img/portfolio/8.png"}}
    {{>hexagonSpace}}
  {{>hexagonCell title="title" subtitle="subtitle" image="img/portfolio/9.png"}}
</ul>
</template>

<template name="hexagonSpace">
  <li class="hexagon-pusher"></li>

</template>
<template name="hexagonCell">
  <li class="hexagon-cell">
      <div class="hexagon-cell-wrapper">
        <img class="hexagon-image" src={{image}} alt=""/>
        <h1 class="hexagon-title">{{title}}</h1>
        <p class="hexagon-subtitle">{{subtitle}}</p>
    </div>
  </li>
</template>
