
textarea {
  padding:4px;
}

.has-error input {
  background-color: #f2dede;
};

.instructions {
  color: #888;
  font-size: 80%;
}

.thumb-container {
  position: relative;
  // width: 180px;
  // height: 180px;
  padding: 15px;
  // background: #DDD;
  margin: 10px;
  .box-shadow(1px 1px 2px 2px #AAA)
}

.thumb-container .checkbox{
  position:absolute;
  top: 0px;
  left: 0px;
  z-index: 10;
}

.thumb-icon {
  cursor: pointer;
  position:relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 2px 5px;
}

.thumb-icon img {
    width: 95%;
    height: 95%;
    margin: auto;
}

.thumb-icon .title {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #FFF;
  overflow: hidden;
  font-size: 0.5em;
  color: #000;
  text-align: left;
  padding: 0 5px;
  // white-space: nowrap;
  .opacity(.6);

}

.thumb-icon:hover {
  filter: alpha(opacity=80);
  .opacity(.8);
}

.thumb-icon .checked {
  position: absolute;
  bottom: 0px;
  right: 3px;
  font-size: 2em;
  color: @brand-primary;
  .opacity(.7);
  padding: 0 2px;
  background-color: #FFF;
  .box-shadow (-3px -3px 5px 0px rgba(0,0,0,0.7));
  // -moz-box-shadow: -3px -3px 5px 0px rgba(0,0,0,1);
  // box-shadow: -3px -3px 5px 0px rgba(0,0,0,1);
  .border-radius (0, 0, 0, 4px);
  .opacity(.7);

  // -webkit-border-top-left-radius: 4px;
  // -moz-border-radius-topleft: 4px;
  // border-top-left-radius: 4px;
}

// .thumbnail {
//     position:relative;
//     // width: 150px;
//     cursor: pointer;
// }

// .thumbnail .title {
//   position: absolute;
//   top: 4px;
//   left: 4px;
//   background-color: #FFF;
//   width: 95%;
//   overflow: hidden;
//   font-size: 0.8em;
//   color: #000;
//   text-align: center;
//   padding: 0 5px;
//   // white-space: nowrap;

//   .opacity(.4);
// }

// .thumbnail .title:hover {
//   .opacity(.6);
// }

// .thumbnail:hover {
//   border: 1px solid #999;
// }

// .thumbnail img {
//     // width: 150px;
//     // height: 150px;
//     margin: auto;
//     text-align: center;
// }

.selected {
   //.box-shadow (0px 0px 0px 3px @brand-primary);
  border: 4px solid @brand-primary;
   // -webkit-box-shadow: inset 0px 0px 0px 3px @brand-primary;
   // -moz-box-shadow: inset 0px 0px 0px 3px @brand-primary;
   // box-shadow: inset 0px 0px 0px 3px @brand-primary;
}

.editing {
  border: 2px dashed #FFF;
}




// .caption h4 {
//   margin-top: 0;
//   padding-top: 0;
// }

.media-action-item {
  display:inline-block;
  margin-left:20px;
}

.media-action-item .glyphicon {
  font-size: 20px;
  margin-right: 10px;
}

.media-action-item ul li{
    display:inline;
    margin-left:5px;
    font-size:11px;
}

#submit-album {
  background-color: #E1E1E1;
}

.modal-img {
  width: 70%;
}

#dropzone {
  border: 3px dashed #ccc;
  margin: 5px 0;
  padding: 10px;
  text-align:center;
  font-size:18px;
  display: block;
}

#dropzone.drag-in {
    font-size: 21px;
}
#dropzone.drag-hover {
    background: #dddddd;
    border: 3px dashed #0099cc;
}
#dropzone.fade {
    .transition(0.3s, ease-out);
    .opacity(1);
}

#dropzone .alert {
  font-size: .75em;
  width: 60%;
  margin: 3px auto;
  padding: 3px;
}

.uploadArea {
    width: 100%;
    height: 90px;
}

.modal-img {
    max-width: 100%;
}

.media-link {
    color: #999999;
    font-size: 85%;
    margin: 0 7px;
}

.main {
  padding: 0 20px;
  margin: 0;
}
@media (min-width: 768px) {
  .main {
    padding-right: 10px;
    padding-left: 20px;
  }
}
.main .page-header {
  margin-top: 0;
  border-bottom: none;
}

#fileselect {
    margin:auto;
    width:230px;
    padding:5px;
}

.input-icon { 
  position:absolute; 
  bottom:20px; 
  right:10px; 
  width:12px; 
  height:12px; 
}

#clear-search {
    position: absolute;
    right: 5px;
    top: 0;
    bottom: 0;
    height: 14px;
    margin: auto;
    font-size: 14px;
    cursor: pointer;
    color: #ccc;
}

#clear-search:hover {
    color:#888;
}

.btn-file {
    position: relative;
    overflow: hidden;
    }

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 999px;
    text-align: right;
    .opacity(0);
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.spin{
  .spinner(50%, 50%, 2s);
}

@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.hiddenRow {
    padding: 0 !important;
}

h4 .wait, h4 .saved, h4 .notsaved {
  margin: 0px;
  padding: 0;
  color: #FFF;
}

.save {
  width: 130px
}

.notsaved {
  color: #CCC;
}

.alert {
   height:60%;
   font-size:90%;    
}


.list-group, .modal-footer {
  background-color: #FFF;
}

#item-list .list {
  width: 120px;
  height: 120px;
}

#item-list .list img {
  width: 120px;
}

.block-item {
  margin:6px;
}

.block-item .glyphicon {
  margin-right:4px;
}

.block-widget {
  text-align: none;
}

.block-selector {
  width:500px;
  padding:10px;
  text-align:center;
}

.graybox {
  background-color: #CCC;
  padding:5px;
  border:2px solid red;
}

.semi-transparent {
  .opacity(.5);
}

.hr-style {
  padding: 0px;
  margin: 3px;
  width: 100%;
  margin: 5px auto;
  display: inline-block;
  .rounded(5px);

}

.hr-style .glyphicon {
  font-size:25px;
  vertical-align: bottom;
  display: none;
  color: #1DC1E6;
}

.hr-style:hover {
  background-color: #F4F4F4;

  cursor: pointer;
  .opacity(.8);
}

.block-edit  {
  margin:0 20px;
}

.block-edit .selected .glyphicon {
  display: inline-block;
}

/* collapse panels */

.panel-heading .accordion-toggle {
  display:block;
  position: relative;
  padding-left:30px;
}

.panel-heading .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
    /*content: "\e080";*/    /* adjust as needed, taken from bootstrap.css */
    content: "\e082";
    position: absolute;
    top: 0px;
    left: 0px;
   /* float: left;  */      /* adjust as needed */
    color: #3498db;         /* adjust as needed */
    /*display: inline-block;*/
    margin-right: 15px;
    font-size:20px;
}

.panel-heading .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    /*content: "\e080";*/   
    /*content: "\e114";*/
    content: "\e081";
    font-size:20px
}

.panel-heading {
  cursor: pointer;
}

.no-gutter  {
  /*padding-left:0;
  padding-right:0;*/
  padding: 0;
  margin: 0;
}

.no-gutter-right  {
  padding-right:0;
}

.no-gutter-left {
  padding-left: 0;
}

.no-gutter-bottom {
  padding-bottom: 0;
}


.primary-bg {
  background-color: #2c3e50 !important;
  color: white !important;
}

.info-bg {
  background-color:#3498db !important;
  color: white !important;
}


.settings {
  padding: 20px;
}

.fieldset-heading {
  padding: 0;
  margin-left: 0;
  padding-bottom: 5px;
  margin-bottom: 15px;
  border-bottom: 1px solid #003366;
  font-color: #003366 !important;
  text-align: center;
}

.fieldset-heading {
  padding: 0;
  margin-left: 0;
  padding-bottom: 5px;
  margin-bottom: 15px;
  border-bottom: 2px solid #CCC;
  text-align: center;
}


fieldset {
  margin: 0;
  padding: 0 30px;
  margin-bottom: 30px;
  background: #F4F4F4;
  .rounded(4px);
}



