nav li.active a {
  background-color: @brand-info !important;
  color: #FFF;
}

nav li a {
  background-color: transparent;;
  color: inherit;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #EEE;
    height: 3px;
    .rounded(2px);
}

#sidebar {
    padding:0;
    background-color: rgba(255, 255, 255, 0.3) !important; 
}

#sidebar, #sidebar a, #sidebar-footer a {
    color:#333;
    background-color:transparent;
    text-transform: uppercase;
    font-size: 1.1em;
    letter-spacing: 1px;
    text-align: center;
}

#sidebar .nav li>a {
  font-family: 'PT Sans', Arial, sans-serif;
}

#sidebar .nav li>a:hover {
    background-color:#ededed;
}

#sidebar .nav li.active>a {
    background-color:darken(@brand-info, 5%);
    color: #FFF !important;
}


#sidebar .logo {
  position: relative;
  padding: 0 5px 0 0; 
  margin: 10px 2px !important;


  img {
    width: 95% !important;
    height: auto !important;
  }

  .set-link {
    width: 150px !important;
    font-size: .8em;
    margin: 5px auto;
    border: 1px solid @brand-primary;
    letter-spacing: 0;
    padding: 5px 0;
    text-align: center;
    .rounded(2px);
  }
}

#sidebar h2 {
  // white-space: nowrap;
  letter-spacing: 1px;
  text-align: center !important;
  font-size: 1.1em;
  color: darken(@brand-info, 20%);
}

#sidebar h3 {
  .rotation(-90deg);
  white-space: nowrap;
  margin-top: 250px;
  letter-spacing: 4px;
  text-align: left !important;
}

#sidebar a.btn-toggle {
  text-align: left !important;
}

#sidebar .album-item-label {
  padding: 2px !important;
  float: none !important;
  display: inline-block !important;
}

#sidebar .album-item-label a {
  font-size: 0.8em;
  text-transform: none !important;
  letter-spacing: 0 !important;
  font-weight: normal !important;
}

#sidebar a:hover {
  text-decoration: none !important;
}

#tag-list {
  width: 100% !important;
  padding: 5px 3px !important;
  text-align: center !important;
}

#tag-list h4 {
  font-size: 15px;
  color: #AAA;
}


#sidebar-footer {
  margin-top: 100px;
  width: 100%;
  color: #AAA !important;
  font-size: .9em;

}

#sidebar-footer a {
  text-align: center;
  margin: 0 auto;
  font-family: 'PT Sans', Arial, sans-serif !important;
}

.glyph-menu {
  // background-image:url('/img/menu.svg') !important;
  content: url("/img/menu.svg");
  font-size: 1.0em;
  width: 30px;
  color: #888;
  border: 1px solid #AAA;
  .rounded(2px);
  .gradient(#FFF, #DDD, #FFF);

}

// off canvas sidebar
//--------------------------------------------------

@media screen and (max-width: 768px) {
  .row-offcanvas {
    position: relative;
    .transition(all 0.3s ease-out);
    font-size: 1.1em;
  }

  .row-offcanvas-left.activated {
    left: 40%;
  }

  .row-offcanvas-left.activated .sidebar-offcanvas {
    left: -40%;
    position: absolute;
    top: 0;
    width: 40%;
    margin-left: 5px;
    .transition(all 0.3s ease-in);
  }

  .btn-toggle {
    margin:5px 2px 3px 8px !important;
    padding: 0 !important;
  }

  .btn-toggle .glyphicon {
    font-size: 1.3em !important;
  }
}

@media screen and (max-width: 450px) {
  .btn-toggle {
    margin:5px 0 0 0 !important;
    padding: 0 !important;

    // .glyph-menu {
    //   font-size: 1.0em !important;
    // }
  }

}

//----------------------------------------------------


.navbar-admin {
    border-width: 0;
    background-color: #777;
    color: #ffffff;
    top: 0;
    position: fixed;
    padding-right: 20px;
    text-transform: uppercase;
    z-index: 100;
    width: inherit !important;

    li > a  {
       color:#efefef;
    }

    .dropdown-menu li a {
      color: @gray;
    }
    .dropdown-menu li > a {
      padding-left:30px;
    }

    li>a:hover, li>a:focus, .open, .open>a, .open>a:hover, .open>a:focus {
       background-color:#555;
       color:#fff;
    }

    .navbar-toggle .icon-bar {
      border: 2px solid white !important;
    }

    @media screen and (max-width: 768px) {
      top:0;
      right: 0;
      width:100%;
      padding: 0 !important;

      .dropdown-menu li a {
        color: #FFF;
      }
    }
}


.navbar-albums {
  border: none !important;
  font-size: 0.85em;
  .text-shadow();
  .border-radius(0, 5px, 5px, 0) !important;

  .navbar-brand h3 {
      color: @gray-lighter !important;
      font-size: 1.0em;
      margin: 0 3px 0 0;
  }

  .navbar-nav {
    float: none;
    padding-top: 3px;
  }

  .navbar-nav > li {
    margin: 3px 0 !important;
    display: inline-block !important;
  }

  .navbar-nav > li > a {
    margin: 0 !important;
    padding: 7px !important; 
  }

  .btn-link {
    margin: 0;
    color: @brand-info !important;
    border: 2px solid transparent;
  }

  .btn-link:hover {
    background-color: @gray-dark !important;
  }

  .btn-link.active {
    border: 2px solid @brand-info !important;
    background: #000 !important;
    text-decoration: none;
  }

  .navbar-toggle {
    color: #EEE !important;
  }

  @media screen and (max-width: 768px) {

    .box-shadow(none);
    border: none !important;

    .navbar-brand {
      display: none !important;
    }
    .navbar-toggle {
      width: 100%;
      margin: 0 !important;
      padding: 0 !important;
      text-align:  center !important;
    }
    .navbar-collapse {
      text-align: center !important;
    }


  }

  @media screen and (max-width: 450px) {
    h3 {
      font-size: 1.2em;
    }
  }

}


.navbar-filters {
  background: transparent;
  font-size: 0.85em;
  border: none !important;

  .navbar-brand {
    padding: 5px !important;
  }

  .navbar-brand h3 {
    margin:0 4px;
    color: @gray !important;
    font-size:1.1em;
  }

  .navbar-brand .glyphicon {
    .rotation(-160deg) !important;
  }

  .navbar-nav {
    float: none;
    vertical-align: top;
  }

  .navbar-nav > li {
    display: inline-block;
  }

  .navbar-nav > li > a {
    padding:5px 6px !important;
    font-weight: bold !important;
  }

  .btn-link {
    margin: 0;
    color: darken(@brand-info, 20%) !important;
    text-decoration: underline;
    border: 2px solid transparent;
  }

  .btn-link.active {
    border: 2px solid darken(@brand-info, 20%) !important;
    background: @gray-lighter !important;
    text-decoration: none;
  }
  @media screen and (max-width: 768px) {
    .navbar-brand {
      display: none !important;
    }
    h3 {
      margin-top: 7px !important;
      color: @gray !important;
    }
    .navbar-toggle {
      width: 100%;
      margin: 0 !important;
      padding: 0 !important;
      text-align:  center !important;
    }
    .navbar-collapse {
      text-align: center !important;
    }
  }

  @media screen and (max-width: 450px) {
    h3 {
      font-size: 1.2em;
    }
  }
}