// styles for packery/isotope instances

#album {
	position: relative;
	display: block;
}

.album-groups {
	margin: 10px auto 0 10px !important;
}

.gutter-sizer {
  width: .75%;
}

.grid-sizer {
  width: 18.9%;
}

.itemP {
  position: relative;
  text-align: center;
  float: left;
  width: 18.9%;
  .rounded(3px);
  .box-shadow(0px 1px 2px 0px rgba(0,0,0,0.3));
}

.itemP.w2 { 
	width: 18.7%; 
	border: 10px solid #AAA;
}

.itemP.w2:hover {
	border: 10px solid lighten(@brand-info, 10%); //#75bed3;
}

.itemP.w2 a:hover {
	text-decoration: none;
}

.itemP.w2 h3 small {
	font-size: .6em !important;
}

.itemP img { width: 100%; .rounded(3px);  }
.itemP.w2 img { width: 100%; }

@media screen and (max-width: 1024px) {
    .grid-sizer {
	  width: 31%;
	}

	.itemP {
	  width: 31%;
	}

	.itemP.w2 { 
		width: 31%; 
	}
}

@media screen and (max-width: 450px) {
    .grid-sizer {
	  width: 100%;
	}

	.itemP {
	  width: 100%;
	}

	.itemP.w2 { 
		width: 100%; 
	}

	#albums {
		margin: 0 !important;
	}
	.album-groups {
		margin: 0 !important;
		padding: 0 !important;
	}

}



