#album {
	margin: 0 auto;
}

.gutter-sizer {
  width: 1%;
}

.grid-sizer {
  width: 18.4%;
}

.item {
  width: 18.4%;
  border: 4px solid #333;
  border-color: hsla(0, 0%, 0%, 0.3);
}

.item.w2 { 
	width: 38.8%; 
}
.item img { width: 100%; }
.item.w2 img { width: 100%; }