
#gridsort {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: block;
    min-height: 200px;
    
    li {
        cursor: move;
        display: inline-block;
        margin: 4px;
        padding: 0px;
        width: 140px;
        height: 140px;
        min-height: 120px;
        float: left;
    }

    li header {
        background: transparent;
        font-size: 15px;
        line-height: normal;
        padding: 4px 4px 3px ;
        margin-bottom: 3px;
        cursor: move;
        text-align: right;
        opacity: .6;
        z-index: 10;
    }
    li .block-content {
        margin-top: -40px;
    }
    li img {
        width: 140px;
        height: 140px;

    }
}

.highlight {
    border: 1px solid red;
    background-color: lightblue;
}