
// #gridsort .ui-selected {
//     background: red;
//     color: white;
//     font-weight: bold;
// }

#gridsort {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: block;
    // margin: 0;
    // width: 1000px;
    // height: 1000px;
    min-height: 200px;
    // padding: 0;
    // // opacity: 1.0;

    // // -webkit-transition: opacity .6s;
    // // -moz-transition: opacity .6s;
    // // -o-transition: opacity .6s;
    // // -ms-transition: opacity .6s;
    // // transition: opacity .6s;

    //  background: #E1E1E1; 
    //  // min-height: 200px;

    //  list-style-type: none;
    //  display:block;
    //  overflow:hidden;
}

// .sortable ul {
//     background: #EFEFEF;

// }

#gridsort li {
    // font-weight: normal;
    // text-align: center;
    // background: #DDD;
    // // overflow: hidden;
    // margin: 5px 5px 5px 0;
    // padding: 1px;
    // float: left;
    // display: inline-block;
    // width: 120px;
    // height: 120px;
    cursor: move;


   display: inline-block;
    margin: 4px;
    padding: 0px;
    width: 140px;
    height: 140px;
    min-height: 120px;
    // min-width: 120px;
    // line-height: 120px;
    float: left;
    // height: 120px;
}



.highlight {
    border: 1px solid red;
    // font-weight: bold;
    // font-size: 45px;
    // padding: 0;
    // margin: 1px;
    background-color: lightblue;
    // width: 120px;
    // height: 120px;
    // min-height: 120px;
    // min-width: 120px;
    // display: inline-block;

}

// .gridthumb {
//     background-color: #478BFF;
//     // font-size: 30px;
//     text-align: center;
//     // cursor: pointer;
//     //font-family: Geneva,Arial,Helvetica,sans-serif;
//     border: 1px solid gray;
//     width: 120px;
//     height: 120px;
//     // min-height: 120px;
//     // min-width: 120px;
//     // display: block;
// }




// .sortable .player {
//     background: #BBB;
// }


// .sortable .preview-holder {
//     border: none!important;
//     background: red!important;
// }

#gridsort li header {
    background: transparent;
    // display: block;
    font-size: 15px;
    line-height: normal;
    padding: 4px 4px 3px ;
    margin-bottom: 3px;
    cursor: move;
    text-align: right;
    opacity: .6;
    z-index: 10;
}

#gridsort li .block-content {
    margin-top: -40px;
}

#gridsort li img {
    // width: 170px;
    //width: 120px;
    width: 140px;
    height: 140px;

}
