/* From: https://github.com/steven-tey/dub/blob/0279fd5b9e89cccd95d4e3b66bb4cbe277a05ac9/app/ui/home/background/background.module.css */

.radialGradient {
  background: radial-gradient(circle, rgba(2, 0, 36, 0) 0, #10141A 100%);
}
.complexGradient {
  background-image: radial-gradient(
    at 27% 37%,
    hsla(215, 98%, 61%, 1) 0px,
    transparent 0%
  ),
  radial-gradient(at 97% 21%, #8CC7D9 0px, transparent 50%),
  radial-gradient(at 52% 99%, rgb(58, 129, 253) 0px, transparent 50%),
  radial-gradient(at 10% 29%, hsla(256, 96%, 67%, 1) 0px, transparent 50%),
  radial-gradient(at 97% 96%, rgb(188, 164, 122) 0px, transparent 50%),
  radial-gradient(at 33% 50%, hsla(222, 67%, 73%, 1) 0px, transparent 50%),
  radial-gradient(at 79% 53%, hsla(343, 68%, 79%, 1) 0px, transparent 50%);
  filter: blur(120px) saturate(150%);
}
