<template name="youtubePage">
  {{#if isAdmin}}
  <div class="row">
    <h5 class="col-sm-12 text-right">
      <a href="{{ pathFor route='settings'}}">
        <span class="glyphicon glyphicon-cog"></span>
        edit videos
      </a>
    </h5>
  </div>
  {{/if}}
  <div class="section">
    <div class="row">
      <div class="videosPage">
        {{#each videos}}
          {{> youtubeVideo video=this }}
        {{/each}}
      </div>
    </div>
  </div>
</template>

<template name="youtubeVideo">
  <div class="col-xs-12 col-sm-6 col-md-4 col-xl-3 player-wrapper">
    <div class="video" id="{{video}}"></div>
  </div>
</template>
