
.main-container {
  padding: 10vh 50px 0 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column-reverse;
  overflow-x: hidden;
}

.main-title {
  font-weight: 800;
  font-size: 10vmin;
  background-position: 40% 50%;
  background-size: 300px auto;
  position: relative;
  color: #fff;
  text-align: center;
  line-height: 90px;
  text-shadow: 0 0 0 4px #666;
}

.main-subtitle {
  display: block;
  text-align: center;
  text-transform: uppercase;
  padding-top: 10px;
}
