#owl-demo .item img{
    display: block;
    width: 100%;
    height: 75vh;
}
.owl-stage-outer {
  width: 100%;
}

.text-holder {
  position: absolute;
    top: 25%;
    z-index: 2;

}

.btn-theme {
  border-radius: 0px;
  background-color: #000;
  color: white;
  width: 20%;
  transition: background-color 0.2s;
}

.btn-theme:hover {
  background-color: #ffce45;
  color: white;

}

/*.owl-carousel .owl-wrapper-outer {
   overflow: hidden;
   position: relative;
   width: 100%;
   z-index: 1;
}

.owl-item {
  transform: translateZ(0);
 -webkit-transform: translateZ(0);
 -ms-transform: translateZ(0);
}*/
