<template name="layout"> 
  <div class="wrapper">
    <div class="box">
        <div class="row row-offcanvas row-offcanvas-left">
                      
            <!-- sidebar -->
            <div class="column col-sm-2 col-xs-1 sidebar-offcanvas" id="sidebar">
               {{> yield region="header"}}
            </div>
            <!-- /sidebar -->
          
            <!-- main right col -->
            <div class="column col-sm-10 col-xs-11 no-gutter" id="main" style="{{#if getSetting 'backgroundUrl'}} background: url({{getSetting 'backgroundUrl'}}) no-repeat center center fixed; -webkit-background-size: cover;-moz-background-size: cover; -o-background-size: cover; background-size: cover; {{/if}}">
                
              {{#if isAdmin}}
                {{> adminHeader}}
              {{/if}}

              <div class="{{#if isAdmin }}padding-admin{{else}}padding{{/if}}">
                  {{> yield}} 
                  <br>
              </div>
              <div class="clear"></div>
              {{> yield region="footer"}} 

            </div>
            <!-- /main -->
          
        </div>
    </div>
  </div>
</template>

<template name="layoutNoHeaders"> 
  <div class="wrapper">
    <div class="box">
        <div class="row">
                      
            
            <div class="column col-sm-12 col-xs-12 no-gutter"> 
                {{> yield}} 
                {{> yield region="footer"}} 
            </div>
          
        </div>
    </div>
  </div>
</template>