<template name="albumLinks">
  {{#if works}}
  <nav class="navbar navbar-inverse navbar-works {{#if isAdmin}}top-admin{{/if}}" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarWorks">
            <span class="sr-only">Toggle navigation</span>
            <h3>Works <span class="glyphicon glyphicon-chevron-down"></span></h3>

          </button>
          <span class="navbar-brand">
            <h3>Works <span class="glyphicon glyphicon-chevron-right"></span></h3>
          </span>
        </div>

        <div class="collapse navbar-collapse" id="navbarWorks">
          <ul class="nav navbar-nav">
            {{#each works}}
            <li>
                <a href="{{ pathFor route='album' slug=this.slug}}" class="btn btn-link album-btn {{isActive this.slug}}">{{this.title}}</a>
            </li>
            {{/each}}
          </ul>
        </div>
      </div>
  </nav>
  {{/if}}
</template>