<template name="album">
	{{> albumLinks }}
	<div class="col-sm-12">
		{{#if isAlbum }}
			<h2>{{ this.album.title }} 
				<small>
					{{ this.album.description }} 
					{{#if isAdmin}}
					- <a href="{{ pathFor route='albumEdit' _id=this.album._id}}">edit</a>
					{{/if}}
				</small>
			</h2>
		{{ else }}
			<h2>{{ this.tag.name }} 
				<small>
					<span class="glyphicon glyphicon-tag"></span>
				</small>
			</h2>
		{{/if}}
	</div>
	{{#if isAlbum}}
	<div class="col-sm-12">
		{{> albumFilters }}
	</div>
	{{/if}}
	<br class="clear">
	
	<div class="col-sm-12">
		<div id="album">
		  <div class="gutter-sizer"></div>
	      <div class="grid-sizer"></div>
		  {{#each mediaItems}}
		   	<a class="image-popup-vertical-fit itemP {{#each this.metadata.tags}} {{ this.slug }} {{/each}}" href="{{this.url store='image_lg'}}" title="{{#if this.metadata.title }} {{ this.metadata.title }} {{#if this.metadata.caption}} ~ {{ this.metadata.caption }} {{/if}} {{else}}{{this.original.name}}{{/if}}{{#if this.metadata.credit}} ~ by {{this.metadata.credit}} {{/if}}">

		   		<img alt="{{this.metadata.caption}}" src="{{this.url store='image_md'}}" />
		   		<div class="caption">
		   			<div class="caption-wrapper">
		   				<div class="caption-container">
			              {{#if this.metadata.title }}
			                <h4>{{this.metadata.title}}</h4>
			              {{else}}
			                <p>{{this.original.name}}</p>
			              {{/if}}
			              {{#if this.metadata.credit }}
			              	<p>{{this.metadata.credit}}</p>
		              	  {{/if}}
		              	</div>
              	    </div>
	            </div>
	           
		    </a>
		  {{/each}}
		</div>

		<div class="clear"></div>

	  	<br>
	  	
		<div class="col-sm-6 col-sm-offset-3">
	    {{#if nextPath}}   
	       <a href="{{nextPath}}" class="load-more btn btn-default btn-lg btn-block">Load more</a>
	    {{else}}
	      {{#unless ready}}        
	          {{> spinner}}      
	      {{/unless}}
	    {{/if}}
		</div>
	</div>
	<br>
	<br>
</template>