<template name="albumGroup">

	{{#if hasCount samples}}
		{{#if showTitle }}
		<div id="item-{{this.slug}}" class="itemP w2 item-album">
			<a href="{{ pathFor route='album' slug=this.slug}}" class="album-title">
				{{#with featured}}
					<img class="item-featured" src="{{this.url store='image_md'}}">
				{{/with}}
				<h3>{{this.title}} <br><small>{{this.description}}<br>
					<span class="badge">{{count}}</span></small>
				</h3>
			</a>
		</div>	
		{{/if}}

		{{#each samples}}
		   	<div class="itemP item-album {{#if isAlbumsPage }} item-sample {{/if}}" title="{{this.metadata.title}}">
		   		<a href="#" class="album-link"><img alt="{{this.metadata.caption}}" src="{{this.url store='image_md'}}">
		   			<div class="caption">
			   			<div class="caption-wrapper">
			   				<div class="caption-container">
			   					<p>Album</p>
				                <h4> {{../title}}</h4>
			              	</div>
	              	    </div>
		            </div>
		   		</a>
		    </div>
		{{/each}}
	{{/if}}
		
</template>