<template name="works">
	{{>cubes name="first" colors="0x3369e,0xd50f25,0xeeb211,0x009925,0x3369e,0xd50f25,0xeeb211,0x009925"}}
	{{#if isAdmin}}
	<h5 class="col-sm-12 text-right">
		<a href="{{ pathFor route='albumManager'}}"><span class="glyphicon glyphicon-cog"></span> edit works</a>
	</h5>
	{{/if}}
	{{> title text="Evan Bacon"}}
	<div class="col-sm-12 text-center">
		{{> albumGroupList showTitles=true }}
	</div>
	{{> bio}}
	<!-- {{> experience}} -->
	{{> skills}}
	{{> testimonials}}

		{{> flickr}}

</template>
