<template name="contactWrapper">
  <div class="contact-wrapper">

    <div class='form-overlay'></div>

    <div class="row center">
      {{>contactButton}}
    </div>

  </div>
</template>



<template name="contactButton">
  <div class='icon fa fa-pencil' id='form-container'>
    <span class='icon fa fa-close' id='form-close'></span>
    <div id='form-content'>
      <div id='form-head'>
        <h1 class='pre'>Get in touch</h1>
        <p class='pre'>Good choice...</p>
        <h1 class='post'>Thanks!</h1>
        <p class='post'>I'll be in touch ASAP</p>
      </div>
      <form>
        <input class='input name' name='user_name' placeholder='Your name please' type='text'>
        <input class='input email' name='user_email' placeholder='A contact email' type='text'>
        <select class='input select' name='subject'>
          <option disabled=''>What shall we talk about?</option>
          <option selected=''>About a new project</option>
          <option>About a job opportunity</option>
          <option>Let's do this over a coffee</option>
        </select>
        <textarea class='input message' placeholder='How can I help?'></textarea>
        <input class='input submit' type='submit' value='Send Message'>
      </form>
    </div>
  </div>

</template>

<template name="socialButtons">
  <div class="row center">

    <a class="btn-floating btn-large waves-effect waves-light blue lighten-2"><i class="fa fa-github" aria-hidden="true"></i></a>
    <a class="btn-floating btn-large waves-effect waves-light blue darken-4"><i class="fa fa-facebook" aria-hidden="true"></i></a>
    <a class="btn-floating btn-large waves-effect waves-light blue lighten-2"><i class="fa fa-twitter" aria-hidden="true"></i></a>
    <a class="btn-floating btn-large waves-effect waves-light blue darken-3"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
    <a class="btn-floating btn-large waves-effect waves-light blue darken-3"><i class="fa fa-codepen" aria-hidden="true"></i></a>

    <a class="btn-floating btn-large waves-effect waves-light red"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
    <a class="btn-floating btn-large waves-effect waves-light black"><i class="fa fa-codepen" aria-hidden="true"></i></a>
    <a class="btn-floating btn-large waves-effect waves-light purple darken-2"><i class="fa fa-github" aria-hidden="true"></i></a>
  </div>
</template>

<template name="contactSection">
  <div class="parallax-container valign-wrapper" style="height:60vh;">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">{{> title text=message}}</h5>
        </div>

        {{>contactWrapper}}
{{>socialButtons}}



      </div>
    </div>
    <div class="parallax" style="position:fixed; z-index: -4;">
    </div>
  </div>
</template>
