<template name="header">
    <nav class="navbar navbar-main navbar-fixed-top {{#if isAdmin}}top-admin{{/if}}">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-main" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">{{> siteName }}</a>
        </div>
        <div id="navbar-main" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <!-- <li class="{{ isActive 'works' 'home' 'album'}}"><a href="{{ pathFor route='works'}}">Works</a></li> -->
            <!-- <li class="{{ isActive 'about'}}"><a href="{{ pathFor route='about'}}">About</a></li>

            <li class="{{ isActive 'atelier'}}"><a href="{{ pathFor route='atelier'}}">Atelier</a></li>
            <li class="{{ isActive 'philosophy'}}"><a href="{{ pathFor route='philosophy'}}">Philosophy</a></li> -->

            <!-- <li class="{{ isActive 'contact'}}"><a href="{{ pathFor route='contact'}}">Contact</a></li> -->
          </ul>
        </div>
      </div>
    </nav>

</template>

<template name="titleHeader">
<div class="row">
  <h1 class="center header-text">{{text}}</h1>
</div>
</template>
