<template name="header">

  <ul class="nav navbar-main">
    <li><a href="#" data-toggle="offcanvas" class="visible-xs text-left btn-toggle"><i class="glyphicon glyphicon-align-justify"></i></a></li>
  </ul>

  <div class="logo hidden-xs" id="logo">
      {{> siteName }}
  </div>   
  <ul class="nav hidden-xs" id="lg-menu">
    <li><a href="{{ pathFor route='albums'}}">Albums</a></li>
    <li><a href="{{ pathFor route='about'}}">About</a></li>
    <li><a href="{{ pathFor route='contact'}}">Contact</a></li>
  </ul>

  <div class="visible-xs" id="title">
    <h3>{{ getSetting 'title'}}</h3>
  </div>

   <br>
  <div class="hidden-xs" id="album-list">
    {{> albumTitles }}
  </div>
    

  {{#unless isAdmin}}
    <div class="list-unstyled hidden-xs" id="sidebar-footer">
        <a href="{{pathFor route='atSignIn'}}" class="btn btn-default btn-xs sign-in">Sign In</a>
    </div>
  {{/unless}}

</template>

