<template name="skills">
  <div class="page-spacer"></div>

<div class="fadein">
  {{> title text="Skills"}}
</div>
  <div class="col-sm-12">
    <div class="fadein container card-white">

<div id="action-container" class="row closed anim">
  {{#transition in="zoomIn" out="bounceOut"}}

  {{#each skills}}
  {{> languageSkill text=this}}
  {{/each}}
{{/transition}}
</div>

<div class="row text-center">
  <br>
  <hr>
  <button class="btn button-open" id="seeMore">See More</button>
</div>

    </div>

  </div>

</template>

<template name="languageSkill">
  <div class="fadein col-sx-12 col-sm-6 col-md-4 col-lg-3 text-center">
    <h1 class="black-text">{{text}}</h1>
  </div>
</template>
