<template name="footer">
	<div class="custom-footer">
		{{{ getSetting 'footerCode' 'Add footer code in settings.' }}}
	</div>

	<footer id="footer">
	    <div class="container">
	    	<div class="col-xs-12">
	    	{{#if isAlbum}}
	       		{{> albumFilters }}
	        {{else}}
	         	{{> tagLinks }}
	        {{/if}}
		    </div>
		    <div class="copyright">&copy;{{ year }} {{ getSetting 'title'}} 
		    	{{#unless isAdmin}} | <a href="{{pathFor route='atSignIn'}}">Sign In</a>{{/unless}} 
		    </div>
	    </div>
	</footer>

</template>