<template name="footer">
	<div class="custom-footer">
		{{{ getSetting 'footerCode' 'Add footer code in settings.' }}}
	</div>

	<footer id="footer">
		<div class="container">
			<div class="row" id='center-algin'>
				<div class="col-xs-12 col-sm-6 col-md-4" id="tag-wrapper">
					{{#if isAlbum}}
					{{> albumFilters }}
					{{else}}
					{{> tagLinks }}
					{{/if}}
				</div>

				<div class="visible-xs-block col-xs-12 col-sm-6 col-md-4">
					{{> social}}
				</div>

				<div class="col-xs-12 col-sm-6 col-md-4 ">
					<div class="copyright">&copy;{{ year }} {{ getSetting 'title'}}
						{{#unless isAdmin}} | <a href="{{pathFor route='atSignIn'}}">Sign In</a>{{/unless}}
					</div>
				</div>

				<div class="hidden-xs col-xs-12 col-sm-6 col-md-4">
					{{> social}}
				</div>

			</div>
		</div>
	</footer>
</template>

<template name="social">
	<nav class="navbar navbar-default navbar-filters" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="btn-square navbar-toggle" data-toggle="collapse" data-target="#navbarSocial">
					<span class="sr-only">Toggle navigation</span>
					<h3>Connect <span class="glyphicon glyphicon-chevron-down"></span></h3>
				</button>
			</div>

			<div class="collapse navbar-collapse" id="navbarSocial">
				<ul class="nav navbar-nav align-center" style="text-align:center;">

					{{> socialIcon link=(getSetting 'githubUrl' '') class="github" icon="github" }}
					{{> socialIcon link=(getSetting 'codePenUrl' '') class="codePen" icon="codepen" }}
					{{> socialIcon link=(getSetting 'linkedInUrl' '') class="linkedIn" icon="linkedin-square" }}
					{{> socialIcon link=(getSetting 'twitterUrl' '') class="twitter" icon="twitter" }}
					{{> socialIcon link=(getSetting 'facebookUrl' '') class="facebook" icon="facebook" }}

				</ul>
			</div>
		</div>
	</nav>
</template>

<!--  link: Link, class: Class, icon: Icon-->
<template name="socialIcon">
	{{#if link}}
		<a target="_blank" class="{{class}}-icon social" href={{link}}><i class="fa fa-{{icon}}" aria-hidden="true"></i></a>
	{{/if}}
</template>
