<template name="skills">
  <div class="page-spacer"></div>

  {{> title text="Skills"}}

  <div class="col-sm-12">
    <div class="container card-white">

<div class="row">
  {{> languageSkill text="Prototyping"}}
  {{> languageSkill text="Swift"}}
  {{> languageSkill text="Objective-C"}}
  {{> languageSkill text="Java"}}
  {{> languageSkill text="Android"}}
  {{> languageSkill text="iOS"}}
  {{> languageSkill text="JavaScript"}}
  {{> languageSkill text="React"}}
  {{> languageSkill text="Meteor"}}
  {{> languageSkill text="HTML5"}}
  {{> languageSkill text="CSS3"}}
  {{> languageSkill text="ES6"}}
  {{> languageSkill text="Python"}}
  {{> languageSkill text="Sketch"}}
  {{> languageSkill text="Illustrator"}}
  {{> languageSkill text="Photoshop"}}
  {{> languageSkill text="Presenting"}}


</div>

<div class="row text-center">
  <br>
  <hr>
{{> seeMore link="https://www.linkedin.com/in/evan-bacon-10605b58"}}
</div>

    </div>

  </div>

</template>

<template name="languageSkill">
  <div class="col-sx-12 col-sm-6 col-md-4 col-lg-3 text-center">
    <h1 class="black-text">{{text}}</h1>
  </div>
</template>
