<template name="testimonials">
  <div class="page-spacer"></div>

  {{> title text="Quotes"}}
  

  <div class="col-sm-12">
    <div class="fadein container card-white">
      <div class="row">
        <div class="owl-carousel">
          {{> quote publication="Huffington Post" text="It's a bird, it's a plane... it's a life-size LEGO Superman, built by an extremely awesome teenager from Texas." author="Krystie Yandoli" url="http://www.huffingtonpost.com/2013/03/14/evan-bacon-15-year-old-bu_n_2876505.html"}}
          {{> quote publication="The Awesomer" text="LEGO maniac Evan Bacon is well on his way to being a pro LEGO artist" author="The Awesomer" url="http://theawesomer.com/lego-iron-man/185817/"}}
          {{> quote publication="Geeks Doing Stuff" text="He’s got that nerd hotness vibe going on. I won’t discuss this further as he is only 15 and, well, that’s illegal." author="Kirsty Sharman" url="http://geeksdoingstuff.com/tag/evan-bacon-minion/"}}
          {{> quote publication="Bit Rebels" text="14-year-old Evan Bacon is well known for his Batman LEGO build, but he is one kid who doesn’t stop when fame is showered over him." author="Richard Darell" url="http://www.bitrebels.com/geek/iron-man-lego-build/"}}
          {{> quote publication="Bloggedd" text="Some people are born with different talents. We can only write about how cool other people are, but this guy is back with another amazing LEGO construction – a 6-foot, 6-inch-tall Superman." author="Bloggedd" url="http://bloggedd.com/lego-superman-built-by-a-teenager-named-evan-bacon/"}}
          {{> quote publication="MTV" text="Batman and LEGOs are two of my favorite things on the planet, so you can imagine how excited I was when I found out a 13 year-old kid made a life-size LEGO Batman out of nothing but… you guessed it, LEGOs!" author="Don Hatfield" url="http://geek-news.mtv.com/2011/09/29/13-year-old-wins-awards-for-life-size-lego-batman/"}}
          {{> quote publication="Examiner" text="When you think of bacon one usually thinks of a tasty breakfast meat and not building stunning Lego sculptures , however Mr. Evan Bacon has done just that." author="William Robinson" url="http://www.examiner.com/article/bacon-bricks-and-super-legos-houston"}}
          {{> quote publication="Technabob" text="LEGO fanatic Evan Bacon built this life-size Batman using somewhere between 15,000 and 20,000 bricks (I guess you start to lose count at those sort of numbers), and took him about 3 months to build it." author="Paul Strauss" url="http://technabob.com/blog/2011/09/13/lego-batman-sculpture/#ixzz3sYaAfNcJ"}}
          {{> quote publication="Forever Geek" text="This LEGO Iron Man is the creation of LEGO prodigy Evan Bacon, who is only 14 years old. He has been getting his fair share of attention left and right, which no one can really deny him." author="Noemi Tasarra-Twigg" url="http://www.forevergeek.com/2012/08/iron-man-by-lego-prodigy-evan-bacon-want/"}}
        </div>
      </div>
      <div class="row text-center">
        <br>
        <hr>
        {{> seeMore link="http://lmgtfy.com/?q=Evan+Bacon"}}
      </div>
    </div>
  </div>
</template>

<template name="quote">
  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 item">
    <i id="quote-left" class="fa fa-quote-left"></i>
    <h3 class="black-text">{{text}}</h3>
    <i id="quote-right" class="fa fa-quote-right"></i>
    <br>
    <hr>
    <p>
      ~{{author}} <span>| <a href={{url}}>{{publication}}  <i class="fa fa-desktop"></i></a></span>
    </p>
  </div>
</template>
