<template name="atelier">
	<div class="row">
		{{#if isAdmin}}
		<h5 class="col-sm-12 text-right"><a href="{{ pathFor route='settings'}}"><span class="glyphicon glyphicon-cog"></span> edit atelier</a>
		</h5>
		{{/if}}
	</div>


    <!-- {{> atelierCard name="" title=title description=description image=image facebook=facebook twitter=twitter linkedin=linkedin website=website }} -->
    <div class="row">

		<div class="col-sm-12 col-md-8 col-md-offset-2 text-center">
			{{{ getSetting 'atelierCode' 'Add atelier code in settings.' }}}
		</div>

	</div>
<br><br>
	<div class="container">


		<div class="row">
	    {{#each items}}
	      {{#if isPerson }}
	        {{#if isVisible }}
	          {{> atelierCard name=title title=job description=description imageData=content facebook=social.facebook twitter=social.twitter linkedin=social.linkedin website=social.website }}

	        {{/if}}
	      {{/if}}
	  {{/each}}

	<!-- {{> atelierCard name="name" title="title" description="description" image="" facebook="facebook" twitter="twitter" linkedin="linkedin" website="" }}

	{{> atelierCard name="name" title="title" description="description" image="" facebook="facebook" twitter="twitter" linkedin="linkedin" website="" }}
	{{> atelierCard name="name" title="title" description="description" image="" facebook="facebook" twitter="twitter" linkedin="linkedin" website="" }} -->

	    	</div>
	</div>


</template>
