<template name="bio">
  <div class="page-spacer"></div>

  {{> title text="About Me"}}

  <div class="col-sm-12">
    <div class="container card-white">

<div class="row text-center">
  <div class="col-xs-12">

<h1>The work speaks for itself</h1>
</div>

<div class="col-sm-12 col-md-offset-2 col-md-8 ">
  <h3>
  Always shaping the future, my focus is on planning, designing and creating products which people use. The only thing that motivates me is creation.
  </h3>
</div>
</div>

<div class="row text-center">
  <br>
  <hr>
{{> seeMore link="https://www.linkedin.com/in/evan-bacon-10605b58"}}
</div>

    </div>
  </div>

</template>
