<template name="contact">
	<br><br>
	<div class="row">

	<div class="col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">
		<div class="card card-block" style="text-align:center;">
			<h3 class="card-title align-center">Contact Us</h3>
		{{> contactForm }}
	</div>
	</div>
</div>


<br>
<br>

<div class="row">
	<div class="col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">
		<div class="card card-block" style="text-align:center;">
			<h3 class="card-title">Follow Us</h3>
		{{> social }}
	</div>
	</div>
</div>

</template>
