<template name="timeline">
  <div class="page-spacer"></div>
  {{> title text="Experience"}}
  <div class="col-sm-12">
    <div class="container card-white">
      <div class="row">

        <div id="doughnutWrapper" >
            <div id="doughnutChart" class="chart"></div>
      	</div>

        <!--
        <div class="timeline-carousel">
          {{> experience publication="" text="It's a bird, it's a plane... it's a life-size LEGO Superman, built by an extremely awesome teenager from Texas." author="Krystie Yandoli" url="http://www.huffingtonpost.com/2013/03/14/evan-bacon-15-year-old-bu_n_2876505.html"}}
          {{> experience publication="The Awesomer" text="LEGO maniac Evan Bacon is well on his way to being a pro LEGO artist" author="The Awesomer" url="http://theawesomer.com/lego-iron-man/185817/"}}
          {{> experience publication="Geeks Doing Stuff" text="He’s got that nerd hotness vibe going on. I won’t discuss this further as he is only 15 and, well, that’s illegal." author="Kirsty Sharman" url="http://geeksdoingstuff.com/tag/evan-bacon-minion/"}}
          {{> experience publication="Bit Rebels" text="14-year-old Evan Bacon is well known for his Batman LEGO build, but he is one kid who doesn’t stop when fame is showered over him." author="Richard Darell" url="http://www.bitrebels.com/geek/iron-man-lego-build/"}}
          {{> experience publication="Bloggedd" text="Some people are born with different talents. We can only write about how cool other people are, but this guy is back with another amazing LEGO construction – a 6-foot, 6-inch-tall Superman." author="Bloggedd" url="http://bloggedd.com/lego-superman-built-by-a-teenager-named-evan-bacon/"}}
        </div> -->
      </div>
      <!-- <div class="row text-center">
        <hr>
        {{> seeMore link=""}}
      </div> -->
    </div>
  </div>
</template>


<template name="smallCarousel">

</template>
<template name="experience">
  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 item ">
    <div class="experience-card">
      <h3 class="gray-text">{{text}}</h3>
      {{> vr}}
    <p>
      Some bs Some bs Some bs Some bs Some bs Some bs Some bs Some bs Some bs Some bs Some bs Some bs Some bs Some bs Some bs Some bs
      <!-- ~{{author}} <span>| <a href={{url}}>{{publication}}  <i class="fa fa-desktop"></i></a></span> -->
    </p>
    </div>
  </div>
</template>

<template name="vr">
  <div style="border-left:1px solid #000;height:100%;"></div>
</template>
