<template name="siteName">
	{{#if logoSet }}
      <a href="{{#if home}} {{ pathFor route='albums' }} {{else}} {{ pathFor route='home'}} {{/if}}">
        <img class="logo" src="{{ getSetting 'logoUrl' }}" alt="{{ getSetting 'title'}}">
      </a>
  {{else}}
      {{#if titleSet }}
      <a href="{{ pathFor route='home'}}">
        <h2>{{ getSetting 'title' }}</h2>
      </a>
      {{ else }} 
        <br>
        <a href="{{ pathFor route='settings'}}">
          <h4 class="set-link">Set Logo or Title</h4>
        </a>
        <br>
        <br>
      {{/if}}
  {{/if}}
</template>