<template name="siteName">
	{{#if getSetting 'logoUrl' }}
      <a href="{{#if home}} {{ pathFor route='albums' }} {{else}} {{ pathFor route='home'}} {{/if}}">
        <img class="logo" src="{{ getSetting 'logoUrl' }}" alt="{{ getSetting 'title'}}">
      </a>
      {{else}}
          {{#if getSetting 'title'}}
          <a href="{{ pathFor route='home'}}">
            <h3>{{ getSetting 'title' }}</h3>
          </a>
          {{ else }} 
            {{ #if isLoaded }}
            <a href="{{ pathFor route='settings'}}">
              <p class="set-link">Set Logo/Title</p>
            </a>
            {{/if}}
          {{/if}}
      {{/if}}
</template>